# Домашнее задание

## Григоренко Владислав

### 6 - Pandas + Scikit-learn

Считываем данные с txt-файла и показываю работу со строками и столбцами

In [220]:
import pandas as pd

df = pd.read_csv("Skin_NonSkin.txt", sep = "\t", header = None)

In [221]:
print(len(df))

245057

In [222]:
df[::20000]

          0    1    2  3
0        74   85  123  1
20000   148  188  253  1
40000    76  112  182  1
60000   188  186  146  2
80000    56   81  215  2
100000  141  160   21  2
120000  179  176  131  2
140000  116  122   75  2
160000  138  139   89  2
180000  205  204  170  2
200000  175  173  125  2
220000   59   58   24  2
240000  183  181  133  2

In [223]:
df.iloc[[1000, 1010, 1020, 1030], [1, 2]]

        1    2
1000  216  253
1010  215  252
1020  217  255
1030  213  255

In [224]:
df.iloc[range(10), [2, 3]]

     2  3
0  123  1
1  122  1
2  121  1
3  119  1
4  119  1
5  118  1
6  119  1
7  119  1
8  125  1
9  125  1

Добавляю попарное произведение и разницу модулей

In [225]:
df["00"] = df[0] * df[0]
df["01"] = df[0] * df[1]
df["02"] = df[0] * df[2]
df["11"] = df[1] * df[1]
df["12"] = df[1] * df[2]
df["22"] = df[2] * df[2]
df["abs(0-1)"] = abs(df[0] - df[1])
df["abs(0-2)"] = abs(df[0] * df[2])
df["abs(1-2)"] = abs(df[1] * df[2])

In [226]:
df

,0,1,2,3,00,01,02,11,12,22,abs(0-1),abs(0-2),abs(1-2)
0,74,85,123,1,5476,6290,9102,7225,10455,15129,11,9102,10455
1,73,84,122,1,5329,6132,8906,7056,10248,14884,11,8906,10248
2,72,83,121,1,5184,5976,8712,6889,10043,14641,11,8712,10043
3,70,81,119,1,4900,5670,8330,6561,9639,14161,11,8330,9639
4,70,81,119,1,4900,5670,8330,6561,9639,14161,11,8330,9639
5,69,80,118,1,4761,5520,8142,6400,9440,13924,11,8142,9440
6,70,81,119,1,4900,5670,8330,6561,9639,14161,11,8330,9639
7,70,81,119,1,4900,5670,8330,6561,9639,14161,11,8330,9639
8,76,87,125,1,5776,6612,9500,7569,10875,15625,11,9500,10875
9,76,87,125,1,5776,6612,9500,7569,10875,15625,11,9500,10875
10,77,88,126,1,5929,6776,9702,7744,11088,15876,11,9702,11088
11,77,88,126,1,5929,6776,9702,7744,11088,15876,11,9702,11088
12,77,88,126,1,5929,6776,9702,7744,11088,15876,11,9702,11088
13,78,89,127,1,6084,6942,9906,7921,11303,16129,11,9906,11303
14,77,85,125,1,5929,6545,9625,7225,10625,15625,8,9625,10625
15,78,86,126,1,6084,6708,9828,7396,10836,15876,8,9828,10836
16,78,86,126,1,6084,6708,9828,7396,10836,15876,8,9828,10836
17,77,85,125,1,5929,6545,9625,7225,10625,15625,8,9625,10625
18,76,84,124,1,5776,6384,9424,7056,10416,15376,8,9424,10416
19,77,85,125,1,5929,6545,9625,7225,10625,15625,8,9625,10625
20,80,88,128,1,6400,7040,10240,7744,11264,16384,8,10240,11264
21,83,91,131,1,6889,7553,10873,8281,11921,17161,8,10873,11921
22,83,91,131,1,6889,7553,10873,8281,11921,17161,8,10873,11921
23,84,92,132,1,7056,7728,11088,8464,12144,17424,8,11088,12144
24,84,92,132,1,7056,7728,11088,8464,12144,17424,8,11088,12144
25,83,91,131,1,6889,7553,10873,8281,11921,17161,8,10873,11921
26,80,88,128,1,6400,7040,10240,7744,11264,16384,8,10240,11264
27,78,86,126,1,6084,6708,9828,7396,10836,15876,8,9828,10836
28,78,86,126,1,6084,6708,9828,7396,10836,15876,8,9828,10836
29,79,87,127,1,6241,6873,10033,7569,11049,16129,8,10033,11049
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245027,162,161,110,2,26244,26082,17820,25921,17710,12100,1,17820,17710
245028,162,161,110,2,26244,26082,17820,25921,17710,12100,1,17820,17710
245029,162,161,110,2,26244,26082,17820,25921,17710,12100,1,17820,17710
245030,162,161,110,2,26244,26082,17820,25921,17710,12100,1,17820,17710
245031,162,161,110,2,26244,26082,17820,25921,17710,12100,1,17820,17710
245032,162,161,110,2,26244,26082,17820,25921,17710,12100,1,17820,17710
245033,165,164,113,2,27225,27060,18645,26896,18532,12769,1,18645,18532
245034,165,164,113,2,27225,27060,18645,26896,18532,12769,1,18645,18532
245035,165,164,113,2,27225,27060,18645,26896,18532,12769,1,18645,18532
245036,165,164,113,2,27225,27060,18645,26896,18532,12769,1,18645,18532
245037,165,164,113,2,27225,27060,18645,26896,18532,12769,1,18645,18532
245038,164,163,112,2,26896,26732,18368,26569,18256,12544,1,18368,18256
245039,164,163,112,2,26896,26732,18368,26569,18256,12544,1,18368,18256
245040,164,163,112,2,26896,26732,18368,26569,18256,12544,1,18368,18256
245041,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245042,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245043,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245044,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245045,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245046,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245047,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245048,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245049,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245050,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245051,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245052,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245053,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245054,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245055,163,162,112,2,26569,26406,18256,26244,18144,12544,1,18256,18144
245056,255,255,255,2,65025,65025,65025,65025,65025,65025,0,65025,65025

Создаю обучающую выборку и тестирующую:

In [227]:
X_init = df.iloc[:, :3]
X_modify = df.iloc[:, 4:]
Y = df[3].values

In [228]:
from sklearn.model_selection import train_test_split

X_init_train, X_init_test, Y_train, Y_test = train_test_split(X_init, Y, test_size=0.3, random_state = 11)
X_modify_train, X_modify_test, Y_train, Y_test = train_test_split(X_modify, Y, test_size=0.3, random_state = 11)

_______________________________________________

### KNeighboursClassifier

In [252]:
from sklearn.neighbors import KNeighborsClassifier

In [253]:
model_KNC_init = KNeighborsClassifier()
model_KNC_init.fit(X_init_train, Y_train)
predicted_values_init_KNC = model_KNC_init.predict(X_init_test)

In [254]:
print(sum(predicted_values_init_KNC == Y_test) / float(len(Y_test)))

0.999455915558

____________

In [255]:
model_KNC_modify = KNeighborsClassifier()
model_KNC_modify.fit(X_modify_train, Y_train)
predicted_values_modify_KNC = model_KNC_modify.predict(X_modify_test)

In [256]:
print(sum(predicted_values_modify_KNC == Y_test) / float(len(Y_test)))

0.999401507114

Таким образом получаем, что алгоритм KNeighboursClassifier на начальных данных работает немного лучше, чем на модифицированной

_________________________

### LogisticRegression

In [242]:
from sklearn.linear_model import LogisticRegression

In [243]:
model_LR_init = LogisticRegression()
model_LR_init.fit(X_init_train, Y_train)
predicted_values_init_LR = model_LR_init.predict(X_init_test)

In [244]:
print(sum(predicted_values_init_LR == Y_test) / float(len(Y_test)))

0.920196414484

____

In [245]:
model_LR_modify = LogisticRegression()
model_LR_modify.fit(X_modify_train, Y_train)
predicted_values_modify = model_LR_modify.predict(X_modify_test)

In [246]:
print(sum(predicted_values_modify == Y_test) / float(len(Y_test)))

0.996721891238

Алгоритм логистической регрессии работает лучше на модифицированных данных, чем на начальной

____________

### Random forest

In [247]:
from sklearn.ensemble import RandomForestClassifier

In [248]:
model_RF_init = RandomForestClassifier()
model_RF_init.fit(X_init_train, Y_train)
predicted_values_init_RF = model_RF_init.predict(X_init_test)

In [249]:
print(sum(predicted_values_init_RF == Y_test) / float(len(Y_test)))

0.999387905003

In [250]:
model_RF_modify = RandomForestClassifier()
model_RF_modify.fit(X_modify_train, Y_train)
predicted_values_modify_RF = model_RF_modify.predict(X_modify_test)

In [251]:
print(sum(predicted_values_modify_RF == Y_test) / float(len(Y_test)))

0.999265486003

Тут посложнее, так как при разных запусках получаются разные значения ошибки. На то это и алгоритм "случайного" леса